 @import 'fonst.css';

 body {
  background: #141429;
 }
 .wrapper {
    color: #FFFFFF;
 }
h4 {
  color: black;
}

 ul, li {
    display: block;
    padding: 0;
    margin: 0;
 }
.container {
    max-width: 2200px;
    margin:0;
    padding: 0;
}

.main__img {
position: absolute;
right: 0;
bottom: 0;
width: 100%;
}

.header__menu {
  width: 90%;
  position: fixed;
  margin: 24px auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav__item {
    margin-right: 40px;
    height: 22px;
    overflow: hidden;
}

.item__link {
  font-family: 'Roboto Regular';  
  color: #D02B2B;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.5s;
  display: block;
  position: relative;
}

.link:hover {
  text-decoration: none;
  color: #D02B2B;
}

.item__span {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.item__span--basic {
  color: #FFFFFF;
}

.nav__item:hover .item__span {
  transform: translateY(-100%);
}

.burger {
  width: 60px;
  height: 60px;
  background: #D02B2B;
  box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px 0 100px 100px;
}

.content {
  font-family: 'Risque Regular'; 
}

.content__title {
  font-size: 3rem;
}


.content__text {
  font-size: 1.5rem;
  line-height: 44px;
}

.content__cloud {
  position: absolute;
  width: 223px;
  height: 166px;
  right: 40%;
  bottom: 15%;
  background: #FFFFFF;
  box-shadow: 4px 5px 15px rgba(255, 255, 255, 0.25);
  border-radius: 50%;  
}

.cloud {
  display: none;
}

.cloud__text {
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  left: 16%;
  top: 30%;
  z-index: 1;
  color: black;
}

.cloud__quote {
  position: absolute;
  width: 34px;
  height: 76px;
  left: 80px;
  top: 0;
  transform: rotate(-35deg);
  border: 38px solid transparent;
  border-left: 156px solid white;
  display: block;
  width: 0;
  height: 0;
}

.content__button {
    width: 186px;
    height: 44px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 0px;
    background-color: color 0.5s;
    align-self: center;
  }

  .content__button:hover  {
    background-color: white;
  }

.button__link {
  font-family: 'Roboto Regular';
  font-size: 16px;
  line-height: 38px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: color 0.5s;
}

.button__link:hover {
    color: #141429;
}

.nav__down {
  position: absolute;
  left: 82px;
  bottom: 24px;
}

/* 
Snowflake */
.snowflake {
  position: absolute;
  display: block;
  left: -175px;
  top: -430px;
  width: 427px;
  z-index: -1;
  animation: 10s snowflake infinite linear; 
  transition: 2s ease-in-out;
}

@keyframes snowflake {
  to { transform: rotate(360deg); }
}


/* BURDER */

.burger-menu_button {
  position: fixed;
  z-index: 30;
  width: 60px;
  height: 60px;
  border-radius: 100px 0 100px 100px;
  background-color: #D02B2B;
 -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 34px;
  height: 3.67px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu__active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu__active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu__active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu__nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #D02B2B;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu__active .burger-menu__nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu__link {
  padding: 18px 35px;
  font-family: 'Risque Regular';
  font-size: 32px;
  line-height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #FFFFFF;
}

.burger-menu__link:hover {
  text-decoration: none;
  color:  #141429;
  filter: brightness(0.9);
}

 
canvas {
  height: 100%;
  position: absolute;
}

/* MAIN PAGE */

.main {
  padding: 3rem;
}

.main__info {
 margin-top: -50%;
}

.gifts {
  font-family: 'Risque Regular';
  background-image: url('../img/bg-second.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15% 0;
  padding: 3rem;
  z-index: -1;
}

.gifts__title, .main__title {
  font-size: 2.5rem;
  line-height: 1.5;
}

.gifts__text {
  margin: 30px 0;
}

.present__img {
  height: 170px;
}

.present__img > img {
  margin: 0 auto;
}

.present__img--sock {
  height: 100%;
}
.present__text {
  height: 340px;
}

.present__title {
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 29px;
}


.present__info {
  font-family: Roboto;
  font-size: 28px;
  line-height: 33px;
}

.present__slider {
  flex-direction: column;
}

/* CAROUSEL */

.single-item {
  margin-top: 125px;
}

.dots-style {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: -30%;
  width: 100%;
}

.dots-style button {
  width: 100px;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  cursor: pointer;
  z-index: 1;
  transition: .3s;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  outline: transparent;
  color: transparent;
}

.dots-style li[class="slick-active"] button {
  background-color: transparent;
}
ul li:nth-child(1) button {
  background-image: url("../img/newYearSock.png");
}

ul li:nth-child(2) button {
  background-image: url("../img/newYearCap.png");
}

ul li:nth-child(3) button {
  background-image: url("../img/newYearBag.png"); 
}

/* //CONTACTS */
.contact {
  font-family: 'Risque Regular';
  background-image: url('../img/deer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding: 3rem;
}

.contact__form {
  flex-direction: column;
}

.form__wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

}

.form__item {
  margin-bottom: 20px;
}

.form__input {
  font-family: 'Roboto Regular';  
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  padding: 14px;
  border-radius: 15px;
  background: transparent;
  outline: transparent;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}

.form__text {
  font-family: 'Roboto Regular';  
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  padding-left: 45px;
  cursor: pointer;
}

.form__input::placeholder { 
  color: #FFFFFF;
  opacity: 1;
}

.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

.form__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

textarea { 
  width: 100%;
  resize: none; 
  margin-bottom: 17px;
} 

input[type="checkbox"]:checked {
  border-color: #D02B2B;
  background-color: #D02B2B;
}

.form__label {
  position: relative;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px solid #D02B2B;
  box-sizing: border-box;
  border-radius: 3px;
}

input:checked ~ .checkmark {
  background-color: #ffffff;
}

input:checked ~ .form__text {
 color: #D02B2B;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #D02B2B;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


 @media (min-width: 768px) {
  .burger-menu__active .burger-menu__nav {
    width: 50%;
  }

  .header__menu {
    position: fixed;
  }
  .content__title {
    font-size: 5rem;
  }
  .gifts__title,
  .main__title {
    font-size: 3.5rem;
  }

  .content__button {
    align-self: start;
  }

  .main {
    padding: 8rem;
  }
  .main__info {
    margin-top: 0;
   }
  .main__img {
    width: auto;
  }
}

@media (min-width: 992px) { 
  .single-item {
    margin-top: 0;
  }
  .present__slider {
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 58px 35px;
    display: flex;
    flex-direction: row;
  }

  .present__img {
    order: 2;
  }

  .dots-style {
    left: -138%;
    top: 75%;
    justify-content: start;
  }

  .dots-style button {
    width: 150px;
    height: 150px;
    margin-right: 32px;
  }
}

@media (min-width: 1262px) { 
  .dots-style {
    left: -138%;
    top: 60%;
  }

}